<link rel='stylesheet' href='/css/index.css' />
<script src="//momentjs.com/downloads/moment-with-locales.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.7.0/moment.min.js" type="text/javascript"></script>

<title>Inicio</title>
<div class="index">
    <div class="groups">

    </div>
    <div class="publications-menu">
        <div class="upload-publication">
            <!--{{#each userLogged}}
            <img  src="{{avatar}}" alt="imagendeperfil"> eh por que tengo que ahcer el foraeach si solo tiene un objeto el userlogged???????¡??¡?¡
            {{/each}}-->
            <img  src="{{avatar}}" alt="imagendeperfil">
            <input id="button" type="text" placeholder="¿Qué estás pensando?">
            <div id="modal" class="modal">
                <div class="modal-content">
                    <div class="title">    
                        <span class="close">&times;</span>
                        <p>Crear publicación</p>
                    </div>
                    <form class="message" action="/publications/uploadpublication" method="POST" id="upload-form">
                        <textarea name="text" type="text" placeholder="¿Qué estás pensando?"></textarea>
                    </form>
                    <div class="button">
                        <button type="submit" form="upload-form" >Publicar</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="publications">
            {{#if publications}}
                {{#each publications}}
                    <div class="publication">
                        <div class="publication-info">
                            <div class="user-avatar">
                                {{#each user}}
                                    <img src="{{avatar}}" alt="">
                                {{/each}}  
                            </div>
                            <div class="user-info">
                                {{#each user}}
                                    {{name}} {{surname}} <br>hace {{converter ../this.createdAt}}
                                {{/each}} 
                            </div>
                        </div>
                        <div class="publication-description">
                            {{description}}
                        </div>
                    </div>
                {{/each}}
            {{else}}
                <h1>No hay publicaciones que mostrar, ¡Sé el primero!</h1>
            {{/if}}
        </div>
    </div>
    <div class="friends">
        
    </div>
</div>



<script>
    var button = document.getElementById("button");
    var modal = document.getElementById("modal");
    var span = document.getElementsByClassName("close")[0];
    button.onclick = function() {
        modal.style.display = "block";
    }
    span.onclick = function() {
        modal.style.display = "none";
    }
    window.onclick = function(event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
</script>